<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include header.html %}
  {% include portfolio_grid.html %}
  {% include about.html %}

  {% if site.contact == "static" %}
  {% include contact_static.html %}
  {% elsif site.contact == "disqus" %}
  {% include contact_disqus.html %}
  {% else %}
  {% include contact.html %}
  {% endif %}

  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}

<!-- Forces the YouTube video to stop if the modal is closed -->
<script>
  $('.modal').on('hidden.bs.modal', function () {
    const iframe = $(this).find('iframe');
    if (iframe.length) {
      const src = iframe.attr('src');
      iframe.attr('src', '');
      iframe.attr('src', src);
    }
  });
</script>
</body>

</html>

<!-- {include nav.html} Add the % back if you want it back -->